body {
  margin: 0px;
  background-color: #fafafa; }
  body #header {
    width: 100%;
    height: 60px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgba(158, 158, 158, 0.35); }
    body #header #header_center {
      padding-top: 5px;
      padding-bottom: 5px;
      height: 50px; }
      body #header #header_center ._header {
        padding-top: 3px;
        padding-bottom: 3px;
        height: 44px;
        display: inline-block;
        text-align: center;
        position: absolute; }
      body #header #header_center #_header_1 {
        width: 20%;
        margin-left: 13%; }
        body #header #header_center #_header_1 .logo {
          padding-top: 1px;
          padding-bottom: 1px;
          height: 42px;
          display: inline-block;
          cursor: pointer; }
        body #header #header_center #_header_1 #logo_image img {
          padding-top: 1px;
          padding-left: 2px; }
        body #header #header_center #_header_1 #logo_name a {
          padding-top: 1px;
          padding-bottom: 10px;
          margin: 0px;
          text-decoration: none;
          font-family: "Cookie", cursive;
          font-size: 43px;
          color: #7a7a7c; }
      body #header #header_center #_header_2 {
        width: 33%;
        left: 33%; }
        body #header #header_center #_header_2 input {
          background-image: url(/images/search.png);
          background-repeat: no-repeat;
          text-indent: 25px;
          border-radius: 5px;
          width: 230px;
          height: 20px;
          border-top-style: solid;
          border-left-style: solid;
          border-color: lightgrey;
          background-position-x: 4px;
          background-position-y: 4px;
          margin-top: 10px; }
          body #header #header_center #_header_2 input:focus {
            outline: none; }
        body #header #header_center #_header_2 #userSearch {
          width: 230px;
          display: none;
          height: 300px;
          margin-top: 11px;
          background-color: white;
          border-radius: 5px;
          border-style: solid;
          border-color: rgba(158, 158, 158, 0.35);
          border-width: 2px;
          box-shadow: 0px 0px 20px 1px #b5b5b5; }
          body #header #header_center #_header_2 #userSearch a {
            text-decoration: none;
            color: black; }
          body #header #header_center #_header_2 #userSearch .userResult {
            border-top-color: rgba(158, 158, 158, 0.35);
            border-top-style: solid;
            border-top-width: 1px;
            display: inline-flex;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 80%;
            cursor: pointer; }
            body #header #header_center #_header_2 #userSearch .userResult:hover {
              background-color: #fafafa; }
            body #header #header_center #_header_2 #userSearch .userResult .profileImage {
              width: 20%;
              border-radius: 50%;
              background-color: red;
              background-image: url(/images/user_profile.jpg);
              background-repeat: no-repeat;
              background-size: cover; }
            body #header #header_center #_header_2 #userSearch .userResult .profileDetails {
              margin-left: 10%; }
              body #header #header_center #_header_2 #userSearch .userResult .profileDetails .profileId {
                font-weight: 600;
                font-size: 15px; }
              body #header #header_center #_header_2 #userSearch .userResult .profileDetails .profileName {
                color: #aaa;
                font-size: 14px;
                float: left; }
      body #header #header_center #_header_3 {
        width: 20%;
        margin-right: 13%;
        left: 66%; }
        body #header #header_center #_header_3 ._header_3_icon {
          display: inline-block;
          margin-right: 18px;
          margin-top: 5px;
          cursor: pointer; }
  body .body-center {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    width: 70%; }

/*# sourceMappingURL=layout.css.map */
